/* 전체 높이 세팅 */
html, body, #root {
  height: 100%;
  margin: 0 auto;
}

/* App 전체 레이아웃 */
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 메인 콘텐츠 영역 */
.content {
  flex: 1;
}

/* Footer */
.footer {
  width: 100%;
  margin: 0;
}
